html {
  box-sizing: border-box;
  font-size: 1em;

	
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* unvisited link */
a {
  color: white;
}

p {
   Font-size: 1.2em;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

body, html {
    height: 100%;
    position: relative;
}

.content-wrap {
    overflow: auto;
}

footer {
    font-size: 1em;
    text-align: center;
    padding-bottom: 3px;
    background-color: white;
    color: black;
}

/* h, p tags and body
______________________________________________*/
body, .headline {

    font-family: 'Raleway', sans-serif;
font-weight: 300;
    margin: 0;
}

.headline {
    font-size: 1.5em;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

h1 {
    /*color: #206452;*/
    color:black;
    font-size: 6em;
    text-align:center;
    margin: 0;
}

h2 {
   font-size: 2.5em;
   padding-bottom: 10px;
}

main {
    text-align: justify;
}

/* Images
______________________________________________*/

.image {
  display: block;
  width: 100%;
  height: auto;

}

.images {
    display: block;
    width: 107%;
    height: 150%;
}

/* Navigation Bar
______________________________________________*/

nav {
    text-align: right;
    position: fixed;
    padding-right: 2%;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav a {
    color: white;
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
}

.topnav .icon {
    display: none;
}

.topnav {
    background-image: linear-gradient(#00838A, #00838A);
}

nav a:hover {
    background-color: #275d38;
    color: white;
}

.navLeft {
    float: left;
}

.navLeft nav a {
    float: left;
}

.navRight{
    padding-top: 18px;
    padding-bottom: 20px;
}

#hapii {
    color: white;
}

.hapii{
    font-family: 'pecita';
    padding-left: 0.1em;
    padding-right: 0.1em;
    font-size: 1.5em;
}

h1 .hapii{
    text-shadow: 2px 2px #FFB500;
}

/* header
______________________________________________*/

.header {
    margin: 0 auto;
    overflow: auto;
    height: 100%;
}

button {
    border: none;
    outline: 0;
    padding: 10px 25px;
    color: white;
    background-color: #01426a;
    text-align: center;
    cursor: pointer;
    border: 1px solid #01426a;
}

button:hover {
 background-color: #275d38;
    color: white;
    border: 1px solid #275d38;
}

.icon {
    text-align: center;
    font-size: 3em;
    margin-bottom: 3%;
}

.column {
    float: left;
    width: 33.33%;
}

.centerContent {
    text-align: center;
}

/* introduction
______________________________________________*/

#introduction {
    background-color: white;
    padding: 5% 10%;
    color: white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.hero-text {
    text-align: center;

    color: black;
    padding-top: 50px;
}


/* about
______________________________________________*/

.aboutSpace {
    padding-bottom: 1.5%;
}

.about {
    background-image: linear-gradient(#A4D65E, #00838A);
    padding: 5% 10%;
    color: white;
}

/* projects
______________________________________________*/

.projects {
    padding: 5% 10%;
}

.colright {
    width: 50%;
    float: right;
    padding-left: 0;
}

.columnLeft {
    width: 16%;
    float: left;
    margin-bottom: 5%;
    text-align: right;
}

.columnRight {
    width: 80%;
    float: right;
}

.projectSpace {
    padding-bottom: 2%;
}

.noSpace {
    list-style: none;
    padding-left: 0;
}

/* members
______________________________________________*/

.memberHeadline {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

.colcenterp.bio-text{
    width: 75%;
    padding-left: 20px;
    padding-right: 20px;
}

.bio{
    border: 1px solid white;
    background: rgba(255, 255, 255, .9);
    color: black;
}

.bio a{
    color: black;
}

.bio .image{
    border: none;
    width: 100%
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container {
    position: relative;
    width: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #275d38;
}

.container:hover .overlay {
    opacity: 0.73;
}

.colcenterp {
    width: 25%;
    float: left;
}

.members {
    padding: 5% 10%;
    color: white;
    background-image: linear-gradient(#FFB81C, #A4D65E);
}

.membersTextFormatt {
    font-size: 1em;
    line-height: 120%;
}

.image{
    border: 1px solid white;
}

.picture-header{
    background-color: white;
    opacity: 0.8;
    font-family: 'Raleway', sans-serif;
    color: black;
    padding: 5px;
    border-color: white;
    border: 2px;
    text-align: center; 
    Font-size: 1.2em;
    -moz-border-radius: 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}

/* equipment
______________________________________________*/

.colleft {
    width: 25%;
    float: left;
    padding-right: 2%;
}

.equipment {
    padding: 5% 10%;
    background-color: white;
    color: black;
}

.equipmentColumnLeft {
    width: 30%;
    float: left;
}

.equipmentColumnRight {
    width: 60%;
    float: right;
}

/* contact
______________________________________________*/

.contact {
    padding: 1% 10%;
    background-image: linear-gradient(#b52b4c, #b52b4c);
    color: white;
}

.contactSpacing {
    margin-bottom: 2%;
}

ul {
  list-style-type: none;
}

.iconC {
  display: flex;
}

.iconFormat {
    padding-left: 26px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 580px) {
    .column {
        float: left;
        width: 100%;
    }

}

@media screen and (max-width: 750px) {
  .topnav a:not(:first-child) {
      display: none;
      margin-bottom: 0;
    }

  .topnav a.icon {
      float: right;
      display: block;
      padding-right: 3.5%;
    }

    .columnLeft {
      width: 100%;
      float: left;
      text-align: left;
      margin-bottom: 0;
    }

    .centerContent {
        text-align: left;
    }

    .columnRight {
        width: 100%;
        float: left;
        margin-bottom: 0;
    }

    .projectSpace {
        padding-bottom: 4%;
    }

    .colcenterp {
        width: 50%;
        float: left;
        padding-bottom: 0;
    }

    .colright {
        width: 100%;
        float: left;
        padding-left: 0;
    }

    .colleft {
        width: 50%;
        float: left;
        padding-right: 2%;
        overflow: auto;
    }
}

@media screen and (max-width: 750px) {

    html{
        font-size: 0.8em;
    }

    .topnav.responsive {
        position: fixed;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 2%;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}

@media screen and (max-width: 479px) {
    .colright {
        width: 100%;
        float: left;
        padding-left: 0;
    }

    .colleft {
        width: 100%;
        float: left;
        padding-right: 2%;
        overflow: auto;
    }

    .equipmentColumnLeft {
        width: 100%;
        float: left;
    }

    .equipmentColumnRight {
        width: 100%;
        float: left;
    }

    h1 {
        font-size: 7.15em;
    }
}


/*
@font-face {
    font-family: pecita;
    src: url(pecita.otf);
 }
 */

 @font-face {
    font-family: pecita;
    src: url(pecita.woff2);
 }


 /*overlay*/
 .overlay-effect {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    color: black;
  }

  .overlay-effect h1{
    padding-bottom: 30px;
  }

  .overlay-effect h2{
    line-height: normal;
  }

  .overlay-content {
    position: relative;
    top: 10%;
    margin-right: 60px;
    margin-left: 60px;
    padding-bottom: 60px;
  }
  .overlay-effect a {
    color: black;
  }
  .overlay-effect a:hover,
      .overlay-effect a:focus {
        color: black;
  }

  #closed {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 50px;
    color: #ddd;
    text-decoration: none;
  }

  a:hover#closed{
    color: black;
  }

  @media screen and (max-height: 700px) {
    .overlay-effect a {

    }
    .overlay-effect #closed {
    }

    .overlay-effect h2{
      }

      #introduction {
        font-size: 0.6em;
    }
    

}

@media screen and (max-width: 500px) {

      #introduction {
        padding: 0% 0%;
    }


    .overlay-effect h1{
        padding-bottom: 30px;
        font-size: 3em;
      }

      #introduction {
        font-size: 0.4em;
    }
    

}

@media screen and (max-height: 500px) {

    #introduction {
      padding: 0% 0%;
  }


  .overlay-effect h1{
      padding-bottom: 30px;
      font-size: 3em;
    }

    #introduction {
      font-size: 0.4em;
  }
  

}